:root {
  --primary-color: #4c566a;
  --background-color: #000;
  --light-text-color: #d8dee9;
}
ul {
  list-style: none;
  padding-left: 0px;
}

.book {
  padding: 5px 10px;
  margin: 1px;
  text-transform: uppercase;
  /* border: 1px solid #e2e2e2; */
  border-radius: 15px;
  border: 0;
  font-weight: 300;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--light-text-color);
  font-weight: 700;
}
.active {
  background-color: var(--primary-color);
}

h1,
.header {
  margin-top: 0;
  margin-bottom: 1px;
  text-transform: capitalize;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header button {
  border-radius: 10px;
  background-color: #66bb6a;
  color: #fff;
  width: 70px;
}

.add-task {
  position: fixed;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  background-color: red;
}
