@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
  width: 400px;
}
